html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
    background-color:#F5F5F5 ;
    color:#333333;

    object-fit: cover;
    background-image: url("/images/bg1.jpg"); 
}
nav{
    background-color: #008080 ;
    color:#FFFFFF;

}
#about{
    background-color: #ECF0F1;
    color:#333333;
    
}

#resume:hover{
  background-color: #3f51b5;
  text-emphasis-color: white;
}
.typing-demo {
  width: 24ch;
  animation: typing 5s steps(100), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 992px) {
  .typing-demo {
    font-size: 1.2em;
  }
}
li{
    padding-left: 20px;
}
.navbar-toggler-icon{
    opacity: 1;
}
#logo{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    color: var(--skin-color);
    border-radius: 50%;
    border:2px solid var(--skin-color);
    font-weight: 600;
    text-transform: uppercase;
    /* color: #ffc2d1; */
}
ul{
    margin-right: 20px;
}

a{
    text-decoration: none;
}
.intro{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    display: block;

}
.nav-item{
    display: inline-block;
    position: relative;
    color: black;
    text-align: center;
    /* font-family: initial; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold; 
}
.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #009999;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
 .nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
h1 {
    display: inline-block;
    position: relative;
    color: #021e2c;
    text-align: center;
    /* font-family: initial; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  h1:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #B8C097;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
 h1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

.card{
    padding: 15px;
}
.card-exp{
    border: #041E13;
}
#odd{
    background-color: #ffc2d1
}
#even{
    background-color: #e4d1d1;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
   
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
    color: #b92dcc;
    margin: 10px;
  }
  
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color:  #2C3E50;
  }
  
  #icon {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  }
  
  #icon-container {
    display: flex;
    justify-content: center;
  }
  
  #icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
    font-size: 14px;
  }
  
  @media screen and (max-width: 426px) {
   #icon {
     width: 30px;
     height: 30px;
     /* margin-right: -18px; */
    }
    
    ul li {
      font-size: 12px;
    }
    
    #contact p {
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 2560px) {
   #icon {
     width: 50px;
     height: 50px;
    }
    
    ul li {
      font-size: 20px;
    }
    
    #contact p {
      font-size: 16px;
    }
  }
/* font style,size,colors,design,load on scroll */
