/* loading animation */
.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	/****** center box
	width: 300px;
	height: 300px;
	border: solid 1px #aaa;
	******/
}
body {
	background-color: #202628;
}
.loader-circle-11 {
	position: relative;
	width: 70px;
	height: 70px;
	transform-style: preserve-3d;
	perspective: 400px;
}
.loader-circle-11 .arc {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-bottom: 5px solid #f00;
}
.loader-circle-11 .arc:nth-child(1) {
	animation: rotate1 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(2) {
	animation: rotate2 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(3) {
	animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
	animation-delay: -0.8s;
}
.loader-circle-11 .arc:nth-child(2) {
	animation-delay: -0.4s;
}
.loader-circle-11 .arc:nth-child(3) {
	animation-delay: 0s;
}
@keyframes rotate1 {
	from {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	to {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
	}
}
@keyframes rotate2 {
	from {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}
	to {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
	}
}
@keyframes rotate3 {
	from {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}
	to {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
	}
}
/* end animation */


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,700&display=swap');



/* global style */



/* define custom css variables */
:root{
    --bg-black-900:#000000;
    --bg-black-100:#dddddd;
    --bg-black-50:#eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black--600:#666666;
    --text-black--300:#bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}
body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

:before,:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

.align-items-center{
    align-items: center;
}

.btn-1{
    padding-bottom: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block ;
}

.btn-1::after{
   border-radius: 30px; 
}


.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* -----------------header-------------------------------- */
.header{
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}


.header .logo a{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    color: var(--skin-color);
    border-radius: 50%;
    border:2px solid var(--skin-color);
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn{
    height: 40px;
    width: 40px;
    /* box-shadow: 0 0 10px; */
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition:  all 0.3s ease;
}

.header .hamburger-btn:after{
    border-radius: 50%;
}

.header .hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color:var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span:before{
    top: -6px;
}
.header .hamburger-btn span:after{
    top: 6px;
}

/* navigation menu */

.nav-menu{
    position: fixed;
    padding: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-black-50);
    overflow-y: auto;
}

.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black--600);
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu:after{
    border-radius: 50%;
}



.nav-menu-inner{
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
    padding: 15px;
    /* background-color: violet; */
}

.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child{
    margin-bottom: 0;
}

.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a:after{
    border-radius: 30px;
}

.nav-menu ul li a.active{
    color: var(--skin-color);
}


.nav-menu .copyright-text{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: var(--text-black--600);
    transform: translateY(-50%) rotate(-90deg);
    left: -60px;
}

/* home section */

.home-section {
    position: relative;
}

.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;  
}

.home-section .home-text,
.home-section .home-img{
     flex: 0 0 50%;
     min-width: 50%;
     padding: 0 15px;
}

.home-section .home-text .btn-1{
    margin-top: 30px;
    
}

.home-section .home-text p{
    color: var(--text-black--300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color:var(--text-black-900);
    margin: 0;
}
.home-section .home-text h1{
   font-size: 20px;
   font-weight: 500;
   color: var(--text-black-700);
   margin: 0;
   text-transform: capitalize;
}


.home-section .home-img .img-box{
    max-width: 450px ;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}
.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    padding-right: 60px;
    /* padding-bottom: 20px; */
    border: 10px solid transparent;
}


/* ********************typing-demo ***************** */
.typing-demo {
    width: 24ch;
    animation: typing 5s steps(24), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @media screen and (max-width: 992px) {
    .typing-demo {
      font-size: 1.2em;
    }
  }
